.THIS {
    text-align: center;
    width: 220px;
    height: 420px;
    box-shadow: 0 4px 7px rgb(62 62 62);
    border-radius: 10px;
    margin: 10px;
    background-color: #212121;
    border: none;
}

.THIS:hover{
    background-color: #303030;
}

.THIS .title{
    font-weight: bold;
    background-color: whitesmoke;
}

.THIS .tileInfo{
    background-color: whitesmoke;
}



.THIS .slds_card{
    border: none;
    outline: none;
}

.THIS .slds-.slds-button {
    border-color: none;
}

.THIS .slds-card__header{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.THIS .slds-card__body {
    margin-bottom: 0;
    margin-top: 0;
}

.THIS .red svg {
    fill: #ff0000;
    filter: brightness(100%);
}

.THIS .icon {
    filter: brightness(100%);
    position: absolute;
    right: 0;
    left: 0;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    padding: 6px 8px;
}

.THIS .yellow svg {
    fill: #FFAE42;
    filter: brightness(100%);
}

.THIS .favorite {
    filter: brightness(100%);
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    padding: 6px 8px;
    z-index: 1000;
}