.THIS .popular{
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        padding: 30px;
        margin-bottom: 20px;
}

.THIS .product{
         height: auto;
          width: 400px;
}

.THIS .text{
    color: grey;
}

.THIS .price{
    color: grey;
    font-weight: bold;
}