.THIS {
      background-color: black;
      justify-content: center;
      max-width: 1368px;
      margin: 0 auto;
  }

  .THIS p{
         color: grey;
  }

  .THIS .header{
       color: black;
       height: 100px;
       width: auto;
       text-align: center;
       display: flex;
       justify-content: center;
   }

   .THIS .mainContainer{
       justify-content: center;
       max-width: 1368px;
       margin: 0 auto;
   }

.THIS .slds-grid_align-space {
    justify-content: center;
}

.THIS .subheader {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 20px;
}

.THIS .subheader2 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
}