/**
 * Created by BRITENET on 03.03.2021.
 */
.THIS {
    font-size: 0.8rem;
    color: lightgrey;
    display:block;
    margin: 20px;
}

.THIS .tile{

    padding: 10px;
    margin: 20px;
}

.THIS .price{
    font-weight: bold;
}







