.THIS {
     font-size: 1rem;
     color: grey;
     display:block;
     margin: 20px;
     border-color: transparent;
 }

.THIS:hover {
    background-color: transparent;
    border-color: transparent;
}

.THIS:focus {
    background-color: transparent;
    border-color: transparent;
}

.THIS .tile{
    padding: 10px;
    margin: 20px;

}

.THIS .price{
    font-weight: bold;
}







